.b-section-block

  .row
    .col-sm-6.b-section-block__image
      img( src="/upload/section-block/1.jpg" )
      
    .col-sm-6.b-section-block__text
      .b-h3
        a( href="" ) Биодинамическое освещение
        
      p Световые панели.<br>
        Панели освещения устанавливаемые
        на потолке, стенах. Освещение
        холодными и теплыми оттенками.
        
    .b-section-block__bottom
      .col-xs-6.col-sm-12.col-md-6
        .b-section-block__price От 15 000 руб/м²
        
      hr.i-size-S.visible-sm.clearfix
      
      .col-xs-6.col-sm-12.col-md-6.text-right
        a.btn.btn-default( href="" ) Подробнее
          
            