.b-section-block

  .row
    .col-lg-6.b-section-block__image
      img( src="/upload/section-block/1.jpg" )
      
    .col-lg-6.b-section-block__text
      .b-h3
        a( href="" ) Световые панели
        
      p Световые панели.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.
        
    .b-section-block__bottom
      .col-xs-6
        .b-section-block__price От 5 000 руб/м²
      
      .col-xs-6.text-right
        a.button.button-default( href="" ) Подробнее
          
            