body
  color #000
  font-size 11pt
  font-family 'Open Sans', Arial, sans-serif
  font-weight 300
  -webkit-font-smoothing antialiased
  font-smooth always
  line-height 1.7
  
hr
  border-top-color transparent
  
  &.i-size-S
    margin 6px 0
  
  &.i-size-M
    margin 30px 0
    
a
  transition( color 0.3s linear )
  
h1,
.b-h1,
h2,
.b-h2
  font-size 19pt
  margin-bottom 12px
  font-family 'univia-pro', 'Russo One', sans-serif
  
h3,
.b-h3
  font-size 14pt
  font-family 'univia-pro', 'Russo One', sans-serif
  line-height 1.2
  
.btn
  padding 0 24px
  font-size 11pt
  line-height 40px
  border-radius 20px
  border-color transparent
  transition( all 0.3s ease )
  
  &.active,
  &:active
    box-shadow none
    outline none
    border-color transparent
  
  &-default
    background-color #dedede
    border-color transparent
      
    &:hover
      background-color #0164ea
      border-color transparent
      
    &:active
    
      &,
      &:hover
        background-color rgba( 1,100,234,0.7 )
        border-color transparent
        outline none