.row.b-call-me

  .col-sm-4.col-sm-offset-2.text-center
    img( src="/template/images/call-me-ill.png" )
      
  hr.visible-xs
  
  .col-sm-4
  
    .b-h2 Помочь с формулировкой задачи?
    
    hr.i-size-S
    
    p Закажите обратный звонок и наш сотрудник свяжется с вами и поможет сформулировтать ваши задачи, а также подготовим ком. предложение.
    
    hr.i-size-S
    hr.i-size-S
    
    a.btn.btn-type-2.i-size-L( href="" ) Перезвоните мне