.b-props-menu

  .container

    .col-sm-4
      img( src="/template/images/svg/1.png" )
      .b-h4 Оперативная реакция
      p Наши специалисты примут ваш заказ и подготовять индивидуальное предложение.
        
    hr.visible-xs
      
    .col-sm-4
      img( src="/template/images/svg/2.png" )
      .b-h4 Лучшая цена
      p Вы получаете лучшее качество по оптимальной цене.
        
    hr.visible-xs
      
    .col-sm-4
      img( src="/template/images/svg/3.png" )
      .b-h4 Шоурум
      p Посмотреть, испытать и выбрать всего в 2км от МКАД.

