
<!-- start /components/masonry/-->
<link rel="stylesheet" href="/components/masonry/style.css"/>
<script src="/components/masonry/script.js"></script>
<div class="b-masonry">
  <div class="row">
    <div class="col-sm-4">
      <div class="b-masonry__card">
        <div data-original="/upload/masonry/1.jpg" class="b-masonry__img"></div>
        <div class="b-h4">Световые панели</div>
        <div class="b-masonry__text">Световые панели.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.</div>
      </div>
    </div>
    <hr class="visible-xs"/>
    <div class="col-sm-4">
      <div class="b-masonry__card i-inverse">
        <div class="b-masonry__text">Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.</div>
        <div data-original="/upload/masonry/2.jpg" class="b-masonry__img"></div>
        <div class="b-h4">Светящийся потолок</div>
      </div>
    </div>
    <hr class="visible-xs"/>
    <div class="col-sm-4">
      <div class="b-masonry__card">
        <div data-original="/upload/masonry/3.jpg" class="b-masonry__img"></div>
        <div class="b-h4">Световые стены</div>
        <div class="b-masonry__text">Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="b-masonry__card">
        <div data-original="/upload/masonry/4.jpg" class="b-masonry__img"></div>
        <div class="b-h4">Системы управления светом</div>
        <div class="b-masonry__text">Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.</div>
      </div>
    </div>
    <hr class="visible-xs"/>
    <div class="col-sm-4">
      <div class="b-masonry__card">
        <div data-original="/upload/masonry/3.jpg" class="b-masonry__img"></div>
        <div class="b-h4">Биодинамическое<br>освещение</div>
        <div class="b-masonry__text">Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.</div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/masonry/-->