extends ../../layouts/main.jade

block title
  title Detail page | svetopotolok

block content

  .container
  
    include ../../modules/top-menu/include
    
    hr.i-size-S.visible-xs
    hr.hidden-xs
    
    h1.text-center Световые потолки
    
    hr
    
    include ../../components/catalog.detail/template
    
  hr
    
  include ../../modules/props-menu/include