.b-promo-block
  .b-promo-block__decor

  .row
    .col-sm-8
      h3 Промо заголовок может быть очень длинным и рассказывать об очень интересных технологиях
      
  .row
    
    .col-sm-5.b-promo-block__text
    
      .b-short-hr
      p Световые панели предназначены для освещения конкретных зон в помещении и пространстве. Этот тип осветительных приборов подходит для придания акцентов нужным объектам или элементам интерьера (будь то выставочный зал или галерея), а также освещению пространства в больших помещениях, атриумах и шоурумах.

      p Специализированное рассеивающее полотно дает мягкий и равномерный свет, что позволяет избежать ненужных бликов и одновременно с этим возможность хорошо осветить пространство.
      
    .col-sm-7.b-promo-block__img
    
      .b-short-hr
      img( src="/upload/promo.jpg" )
      
