@import '../../styl/component-include.styl'

.b-promo-block
  position relative

  h3
    margin-bottom 40px
  
  img
    width 100%
    height auto
    
  &__decor
    background-color #f7f7f7
    width 75%
    height 100%
    position absolute
    top 0
    right 0