footer.b-footer
  .container
  
    .row
      .col-sm-3
        | Ул. Исаковского, дом 33,<br>офис 450, Москва.
        
      .col-sm-6
      
        .b-footer__top-menu
          a( href="" ) Световые технологии
          a( href="" ) Дизайнерам
          a( href="" ) О компании
        
      hr.visible-xs
        
      .col-sm-3
        .b-footer__top-phone
          .b-footer__top-phone__icon
          a( href="tel:+74951502750" ) +7 (495) 150-27-50
          
    .b-footer__main-text
    
      .row
        .col-sm-8.col-sm-offset-2
        
          .row
            .col-sm-6
              .b-h3 Светопотолок
              p Международная группа компаний «Светопотолок» – крупнейший производитель и поставщик современных энергоэффективных светотехнических решений в России и странах СНГ. Компания также работает на рынках Европы, Ближнего Востока и Азии.
            .col-sm-6
              p Широкая продуктовая линейка<br>Ассортимент выпускаемой продукции насчитывает более 3 000 модификаций светильников для внутреннего и наружного освещения общественно-административных зданий, спортивных сооружений, торговых комплексов, производственных объектов.
              
    .b-footer__copyright © 2017 Светопотолок. Сделано в Twin px
