extends ../layouts/main.jade

block title
  title Main page | svetopotolok

block content

  .container
  
    include ../modules/top-menu/include
    
    hr
    
    include ../modules/promo-block/include
    
  hr
    
  include ../modules/props-menu/include