
<!-- start /components/catalog.detail/-->
<link rel="stylesheet" href="/components/catalog.detail/style.css"/>
<script src="/components/catalog.detail/script.js"></script>
<div class="b-catalog-detail">
  <div class="row">
    <div class="col-sm-9">
      <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
      <div data-nav="thumbs" data-loop="true" data-allowfullscreen="true" data-ratio="4/3" class="fotorama"><img src="/upload/catalog.detail/1.jpg"/><img src="/upload/catalog.detail/1.jpg"/><img src="/upload/catalog.detail/1.jpg"/><img src="/upload/catalog.detail/1.jpg"/><img src="/upload/catalog.detail/1.jpg"/></div>
    </div>
    <hr class="visible-xs"/>
    <div class="col-sm-3">
      <div class="b-catalog-detail__price">от 5 000 руб./м²</div>
      <p>Современные световые потолки создают качественное равномерное освещение с эффектом дневного света. Такое освещение создает приятную атмосферу в любых помещениях особенно в помещениях с недостаточным естественным освещением.</p>
      <hr/><a href="" class="btn btn-default i-size-L">Отправить заявку</a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-7 col-sm-offset-1">
      <div class="b-catalog-detail__hr"></div>
      <div class="b-h2">Световые потолки</div>
      <p>Предлагаем проектирование и установку натяжных потолков с внутренней подсветкой для:</p>
      <ul>
        <li>квартир</li>
        <li>коттеджейНаша компания предлагает полный комплекс услуг по установке световых потолков и их управления от простого включения / выключения до интеграции в системы Умного дома! Используя специально разработанные материалы для световых</li>
        <li>торговых комплексов</li>
        <li>автосалонов</li>
        <li>косметических салонов</li>
        <li>фитнесцентров </li>
      </ul>
      <p>и других зон где необходимо бестеневое приятное глазу освещение.</p>
      <p>Наша компания предлагает полный комплекс услуг по установке световых потолков и их управления от простого включения / выключения до интеграции в системы Умного дома! Используя специально разработанные материалы для световых натяжных потолков и светодиодные модули, мы создадим для вас потолки с декоративной подсветкой или равномерной подсветкой по всей площади потолка в качестве основного освещения.</p>
    </div>
    <hr class="visible-xs"/>
    <div class="col-sm-2 b-catalog-detail__props">
      <p>Глубина светового потолка<span class="text-muted">50-200 мм (оптимальная 150 мм)</span></p>
      <p>Максимальная ширина без шва<span class="text-muted">3.60/5.00 м (ПВХ / Тканевый)</span></p>
      <p>Энергопотребление<span class="text-muted">от 30 Вт/м2</span></p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-4">
      <div class="b-offer-block">
        <div class="b-h3">Типовой проект</div>
        <div class="b-offer-block__text">Подсвеченный изнутри потолок привнесет в помещение эффект естественного освещения, независимо от погоды и времени суток.</div>
        <div class="b-offer-block__hr"></div>
        <div class="row">
          <div class="col-lg-6 b-offer-block__price">5 000 руб/м²</div>
          <hr class="i-size-S hidden-lg"/>
          <div class="col-lg-6"><a href="" class="btn btn-type-2">Отправить заявку</a></div>
        </div>
      </div>
    </div>
    <hr class="i-size-S visible-xs"/>
    <div class="col-sm-4">
      <div class="b-offer-block">
        <div class="b-h3">Типовой проект с доработкой с учетом пожеланий</div>
        <div class="b-offer-block__text">Подсвеченный изнутри потолок привнесет в помещение эффект естественного освещения, независимо от погоды и времени суток.</div>
        <div class="b-offer-block__hr"></div>
        <div class="row">
          <div class="col-lg-6 b-offer-block__price">5 000 руб/м²</div>
          <hr class="i-size-S hidden-lg"/>
          <div class="col-lg-6"><a href="" class="btn btn-type-2">Отправить заявку</a></div>
        </div>
      </div>
    </div>
    <hr class="i-size-S visible-xs"/>
    <div class="col-sm-4">
      <div class="b-offer-block">
        <div class="b-h3">Индивидуальный проект</div>
        <div class="b-offer-block__text">Подсвеченный изнутри потолок привнесет в помещение эффект естественного освещения, независимо от погоды и времени суток.</div>
        <div class="b-offer-block__hr"></div>
        <div class="row">
          <div class="col-lg-6 b-offer-block__price">5 000 руб/м²</div>
          <hr class="i-size-S hidden-lg"/>
          <div class="col-lg-6"><a href="" class="btn btn-type-2">Отправить заявку</a></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="i-size-L i-line"/>
  <div class="row b-call-me">
    <div class="col-sm-4 col-sm-offset-2 text-center"><img src="/template/images/call-me-ill.png"/></div>
    <hr class="visible-xs"/>
    <div class="col-sm-4">
      <div class="b-h2">Помочь с формулировкой задачи?</div>
      <hr class="i-size-S"/>
      <p>Закажите обратный звонок и наш сотрудник свяжется с вами и поможет сформулировтать ваши задачи, а также подготовим ком. предложение.</p>
      <hr class="i-size-S"/>
      <hr class="i-size-S"/><a href="" class="btn btn-type-2 i-size-L">Перезвоните мне</a>
    </div>
  </div>
</div>
<!-- end /components/catalog.detail/-->