@import '../../styl/component-include.styl'

.b-offer-block
  border 3px solid #f4f4f4
  padding 30px
  transition( border-color 0.5s ease )
  
  .b-h3
    min-height 90px
    margin-bottom 10px
    
  &__text
    min-height 140px
    
  &__hr
    width 50%
    border-top 1px solid #000
    margin 30px 0 32px
    
  &__price
    font-size 8pt
    font-weight 400
    margin-top 12px
    
    @media( max-width 1199px )
      margin-top 0
    
  .btn
    padding 0 5px
    width 100%
    max-width 143px
    
  &:hover
    border-color #0066ff
    