// start /components/masonry/

link( rel="stylesheet", href="/components/masonry/style.css" )
script( src="/components/masonry/script.js" )

.b-masonry
  
  .row
    .col-sm-4
      .b-masonry__card
        .b-masonry__img( data-original="/upload/masonry/1.jpg" )
        .b-h4 Световые панели
        .b-masonry__text Световые панели.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.
        
    hr.visible-xs
          
    .col-sm-4
      .b-masonry__card.i-inverse
        .b-masonry__text Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.
        .b-masonry__img( data-original="/upload/masonry/2.jpg" )
        .b-h4 Светящийся потолок
        
    hr.visible-xs
        
    .col-sm-4
      .b-masonry__card
        .b-masonry__img( data-original="/upload/masonry/3.jpg" )
        .b-h4 Световые стены
        .b-masonry__text Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.
  
  .row
    .col-sm-8
      .b-masonry__card
        .b-masonry__img( data-original="/upload/masonry/4.jpg" )
        .b-h4 Системы управления светом
        .b-masonry__text Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.
        
    hr.visible-xs
        
    .col-sm-4
      .b-masonry__card
        .b-masonry__img( data-original="/upload/masonry/3.jpg" )
        .b-h4 Биодинамическое<br>освещение
        .b-masonry__text Светящийся потолок.<br>Панели освещения устанавливаемые на потолке, стенах. Освещение холодными и теплыми оттенками.

// end /components/masonry/